form(
	action="//life.us15.list-manage.com/subscribe/post?u=437105402bcebdea2cbe66e88&amp;id=43f1b868ba"
	method="post"
	id="mc-embedded-subscribe-form"
	name="mc-embedded-subscribe-form"
	target="_blank"
	rel="noopener noreferrer"
	novalidate
)
	// Email
	.field-group
		label.email(for="mce-EMAIL") Email Address
		input(
			type="email"
			value=""
			placeholder="Email Address"
			name="EMAIL"
			id="mce-EMAIL"
		)

	// Name
	// .mc-field-group
	// 	label.required.email(for="mce-FNAME") Name
	// 		input(
	// 			type="text"
	// 			value=""
	// 			name="FNAME"
	// 			id="mce-FNAME"
	// 		)

	div(
		style="position: absolute; left: -5000px;"
		aria-hidden="true"
	)
		input(
			type="text"
			name="b_437105402bcebdea2cbe66e88_43f1b868ba"
			tabindex="-1"
			value=""
		)

	button(
		type="submit"
		value="keep me lit"
		name="keep-me-lit"
		id="mc-embedded-subscribe"
	) keep me lit
