a(
	href="https://www.facebook.com/bluum.life/"
	target="_blank"
	rel="noopener nofollow"
)
	img(
		src="/content/fb-white.png"
		alt="Keep lit on Facebook"
	)
	
a(
	href="https://www.instagram.com/bluum.life/"
	target="_blank"
	rel="noopener nofollow"
)
	img(
		src="/content/ig-white.png"
		alt="Keep lit on Instagram"
	)